@{
    ViewBag.Title = "About";
}

@*<div background-size:cover>*@


@*<img src="~/Views/image2/meet_our_crews.jpg"  width: 100vw; height: 80vh;  alt="test" />*@
@*<img src=" https://nascar.nbcsports.com/wp-content/uploads/sites/9/2019/05/img_1965-e1558468046501.jpeg?resize=1024,575" />*@
@*<span style="width:920px; height:920px; line-height:12px; position:absolute; top:50%; left:50%; margin-left:-420px; margin-top:-160px;color:snow;font-size:590%;font-family:sans-serif">MEET OUR CREWS</span>*@
@*<img src" https: //c1.hoopchina.com.cn/uploads/star/event/images/200217/697bd1b1fce24b92a646c8d1eafef674e847d4a8.jpg" />
    <img src="https://doc-0c-58-docs.googleusercontent.com/docs/securesc/qtdk277ndqoupjlhsvhpo87f7efo51pu/3l9s18q83br2vp6am8d8vlhukndjp5cu/1586761800000/07913430937656289696/07913430937656289696/1haxKWzrbxv_Np19j-mNUBBMdxi63V53m?e=download&h=13390630169452005924&authuser=0&nonce=mnk9pvn0rpv84&user=079134309376562">*@

<div class="header1">
    <a href="#" class="btn-white">Learn More</a>
</div>
@*<p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg">CONTACT US &raquo;</a></p>
    </div>*@

<div style="background-color:#E8E8E8;word-wrap:break-word;">
    <p style="text-align:center;font-family:sans-serif; font-size:xx-large">
        Introduction
    </p>
</div>

<div style="background-color:#E8E8E8;word-wrap:break-word;">
    <p style="text-align:center;font-family:sans-serif; font-size:xx-large">
        Team strengths :  Diverse technical and cultural background, Innovative, proactive, Goal-oriented.
    </p>
</div>

<div class=" row">
    <img src="https://i.pinimg.com/474x/7d/d3/e3/7dd3e31662f2d76b52abf1b9f9cceffc--office-interior-design-office-interiors.jpg" class="cover" width="1080" height="163" />

</div>

<div class="  row">
    <p style="text-align:center;font-family:sans-serif; font-size:xx-large">
        Meet The Team
    </p>
</div>

<div class="row ">
    <div class="col-md-4">
        <img src="https://st2.depositphotos.com/8448998/11336/i/950/depositphotos_113366320-stock-photo-half-length-portrait-of-young.jpg" class="cover" width="300" height="300" />
        <p style="text-align:center;font-family:sans-serif; font-size:xx-large;color:#8B008B">
            Zexi Liu
        </p>

        <p style="text-align:center;font-family:sans-serif; font-size:larger">
            Programmer
        </p>

        <div align="left" align="left" style="float:left">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>

        <div align="right">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4">
        <img src="https://st2.depositphotos.com/8448998/11336/i/950/depositphotos_113366320-stock-photo-half-length-portrait-of-young.jpg" class="cover" width="300" height="300" />
        <p style="text-align:center;font-family:sans-serif; font-size:xx-large;color:#8B008B">
            Khawar Mehmood
        </p>

        <p style="text-align:center;font-family:sans-serif; font-size:larger">
            Tutor
        </p>

        <div align="left" align="left" style="float:left">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>

        <div align="right">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4">
        <img src="https://st2.depositphotos.com/8448998/11336/i/950/depositphotos_113366320-stock-photo-half-length-portrait-of-young.jpg" class="cover" width="300" height="300" />
        <p style="text-align:center;font-family:sans-serif; font-size:xx-large;color:#8B008B">
            Rohan
        </p>

        <p style="text-align:center;font-family:sans-serif; font-size:larger">
            Data scientist
        </p>

        <div align="left" align="left" style="float:left">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>

        <div align="right">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>
    </div>

</div>


<div class="row ">
    <div class="col-md-4">
        <img src="https://st2.depositphotos.com/8448998/11336/i/950/depositphotos_113366320-stock-photo-half-length-portrait-of-young.jpg" class="cover" width="300" height="300" />
        <p style="text-align:center;font-family:sans-serif; font-size:xx-large;color:#8B008B">
            Haixin Mo
        </p>

        <p style="text-align:center;font-family:sans-serif; font-size:larger">
            Business analysist
        </p>

        <div align="left" align="left" style="float:left">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>

        <div align="right">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4">
        <img src="https://st2.depositphotos.com/8448998/11336/i/950/depositphotos_113366320-stock-photo-half-length-portrait-of-young.jpg" class="cover" width="300" height="300" />
        <p style="text-align:center;font-family:sans-serif; font-size:xx-large;color:#8B008B">
            Mohammad Bhuyan
        </p>

        <p style="text-align:center;font-family:sans-serif; font-size:larger">
            Tech Tutor
        </p>

        <div align="left" align="left" style="float:left">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>

        <div align="right">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>
    </div>

    <div class="col-md-4">
        <img src="https://st2.depositphotos.com/8448998/11336/i/950/depositphotos_113366320-stock-photo-half-length-portrait-of-young.jpg" class="cover" width="300" height="300" />
        <p style="text-align:center;font-family:sans-serif; font-size:xx-large;color:#8B008B">
            Fang-I Lee
        </p>

        <p style="text-align:center;font-family:sans-serif; font-size:larger">
            Programmer
        </p>

        <div align="left" align="left" style="float:left">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>

        <div align="right">
            <p><a href="zliu0054@student.monash.edu" class="btn btn-primary btn-lg" ;display:inline-block;>Mail&raquo;</a></p>
        </div>
    </div>

</div>




