
@{
    ViewBag.Title = "education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <style type="text/css">
            ol {
                margin: 0;
                padding: 0
            }

            table td, table th {
                padding: 0
            }

            .c2 {
                color: #ff9900;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 20pt;
                font-family: "Arial";
                font-style: normal
            }

            .c11 {
                padding-top: 20pt;
                padding-bottom: 6pt;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .c9 {
                color: #ff9900;
                font-weight: 700;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 14pt;
                font-family: "Arial";
                font-style: normal
            }

            .c6 {
                padding-top: 0pt;
                padding-bottom: 3pt;
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .c4 {
                color: #ff9900;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 11pt;
                font-family: "Arial";
                font-style: normal
            }

            .c3 {
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: "Arial";
                font-style: normal
            }

            .c0 {
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 11pt;
                font-family: "Arial";
                font-style: normal
            }

            .c8 {
                color: #000000;
                font-weight: 700;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: "Arial";
                font-style: normal
            }

            .c1 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.15;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .c12 {
                text-decoration: none;
                vertical-align: baseline;
                font-family: "Arial";
                font-style: normal
            }

            .c13 {
                text-decoration-skip-ink: none;
                -webkit-text-decoration-skip: none;
                color: #1155cc;
                text-decoration: underline
            }

            .c17 {
                color: #000000;
                font-weight: 700;
                font-size: 11pt
            }

            .c14 {
                color: #000000;
                font-weight: 400;
                font-size: 26pt
            }

            .c21 {
                color: #000000;
                font-weight: 400;
                font-size: 20pt
            }

            .c18 {
                color: #666666;
                font-weight: 400;
                font-size: 11pt
            }

            .c16 {
                background-color: #ffffff;
                max-width: 451.4pt;
                padding: 72pt 72pt 72pt 72pt
            }

            .c10 {
                font-size: 12pt;
                color: #ff9900;
                font-weight: 700
            }

            .c19 {
                color: #666666;
                font-weight: 400
            }

            .c7 {
                color: inherit;
                text-decoration: inherit
            }

            .c15 {
                font-size: 12pt
            }

            .c5 {
                height: 11pt
            }

            .c20 {
                font-weight: 700
            }

            .title {
                padding-top: 0pt;
                color: #000000;
                font-size: 26pt;
                padding-bottom: 3pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .subtitle {
                padding-top: 0pt;
                color: #666666;
                font-size: 15pt;
                padding-bottom: 16pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            li {
                color: #000000;
                font-size: 11pt;
                font-family: "Arial"
            }

            p {
                margin: 0;
                color: #000000;
                font-size: 11pt;
                font-family: "Arial"
            }

            h1 {
                padding-top: 20pt;
                color: #000000;
                font-size: 20pt;
                padding-bottom: 6pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h2 {
                padding-top: 18pt;
                color: #000000;
                font-size: 16pt;
                padding-bottom: 6pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h3 {
                padding-top: 16pt;
                color: #434343;
                font-size: 14pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h4 {
                padding-top: 14pt;
                color: #666666;
                font-size: 12pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h5 {
                padding-top: 12pt;
                color: #666666;
                font-size: 11pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h6 {
                padding-top: 12pt;
                color: #666666;
                font-size: 11pt;
                padding-bottom: 4pt;
                font-family: "Arial";
                line-height: 1.15;
                page-break-after: avoid;
                font-style: italic;
                orphans: 2;
                widows: 2;
                text-align: left
            }
        </style>
    </head>
    <body class="c16">
        <p class="c1"><span class="c13"><a class="c7" href="https://www.google.com/url?q=https://www.legalaid.vic.gov.au/sites/www.legalaid.vic.gov.au/files/vla-resource-bike-law.pdf&amp;sa=D&amp;ust=1587379612241000">https://www.legalaid.vic.gov.au/sites/www.legalaid.vic.gov.au/files/vla-resource-bike-law.pdf</a></span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span>https://www.monash.edu/industry</span></p><p class="c6 title" id="h.92op4bso2mqx"><span class="c12 c14">Essential road rules</span></p><p class="c1"><span class="c3">As a bike rider you have to follow many of the same rules as motorists. This section covers what they are so you can ride responsibly and safely.</span></p><p class="c1 c5"><span class="c12 c10"></span></p><p class="c1"><span class="c9">Safe riding</span></p><p class="c1"><span class="c3">When you are riding your bike you must:</span></p><p class="c1"><span class="c3">&bull; face forwards and have at least one hand on the handlebars</span></p><p class="c1"><span class="c3">&bull; keep a safe distance between you and any traffic in front of you.</span></p><p class="c1"><span class="c3">Make sure you have enough space to stop safely. </span></p><p class="c1"><span class="c3">&lsquo;Drinking&rsquo; is against the law. Passengers can only sit on your bike if they are in a seat for a passenger.</span></p><p class="c1 c5"><span class="c10 c12"></span></p><p class="c1"><span class="c9">Traffic lights, signals and signs</span></p><p class="c1"><span class="c3">You must obey traffic lights, signals, signs and road markings, and follow the road rules on</span></p><p class="c1"><span class="c3">stopping and giving way.</span></p><p class="c1"><span class="c3">If there are no traffic lights, signs or lines at an intersection, you must give way to any vehicle on your right that would cross your path.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c10">Tip</span><span class="c3">. Turning right at an intersection</span></p><p class="c1"><span class="c3">If you want to turn right at any intersection, doing a hook turn is often a</span></p><p class="c1"><span class="c3">safer option (unless a sign prohibits it).</span></p><p class="c1 c5"><span class="c12 c15 c19"></span></p><p class="c1"><span class="c8">Traffic lights</span></p><p class="c1"><span class="c3">You must obey any traffic lights, including bike traffic lights that use bike symbols. You must also obey traffic arrows if you are about to make a turn.</span></p><p class="c1"><span class="c3">You must always:</span></p><p class="c1"><span class="c3">&bull; give way to pedestrians who are crossing on the road you are turning into, even if</span></p><p class="c1"><span class="c3">there are no pedestrian lights or the pedestrian lights are not green</span></p><p class="c1"><span class="c3">&bull; stop at yellow lights and arrows when it is safe to do so.</span></p><p class="c1"><span class="c8">&lsquo;Stop&rsquo; signs and lines</span></p><p class="c1"><span class="c3">You must obey &lsquo;Stop&rsquo; signs and lines. At a stop line, you must come to a complete</span></p><p class="c1"><span class="c3">stop and usually give way to any vehicles already in, entering or approaching an</span></p><p class="c1"><span class="c3">intersection.</span></p><p class="c1"><span class="c3">A stop line is an unbroken white line across</span></p><p class="c1"><span class="c3">a road lane.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c8">Overtaking a vehicle that is turning left</span></p><p class="c1"><span class="c15">You must not overtake a vehicle on the left if it is indicating left and turning left</span><span>.</span></p><p class="c1"><span class="c8">&lsquo;Give Way&rsquo; signs and lines</span></p><p class="c1"><span class="c3">You must obey &lsquo;Give Way&rsquo; signs and lines.</span></p><p class="c1"><span class="c3">At a give way line, you must slow down and stop if necessary to avoid a collision.</span></p><p class="c1"><span class="c3">If you are stationary, you must remain stationary until it is safe to go.</span></p><p class="c1"><span class="c3">You must give way to any vehicles already in, entering or approaching an intersection.</span></p><p class="c1"><span class="c3">A give way line is a broken white line across</span></p><p class="c1"><span class="c3">a road lane.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Turning and signalling</span></p><p class="c1"><span class="c3">You must give way to pedestrians crossing the road you are turning into whether there are pedestrian lights or not.</span></p><p class="c1"><span class="c8">Turning right</span></p><p class="c1"><span class="c3">Whenever you are moving over to the right, including when changing lanes or turning</span></p><p class="c1"><span class="c3">right, you must signal by extending your right arm out to the side.</span></p><p class="c1"><span class="c8">Turning left</span></p><p class="c1"><span class="c15">You do not have to signal if you&rsquo;re turning left, but it&rsquo;s a good idea to.</span></p><p class="c1 c5"><span class="c12 c18"></span></p><p class="c1"><span class="c9">Speed</span></p><p class="c1"><span class="c3">You must obey the speed limit. It is also a serious offence to ride at a dangerous speed.</span></p><p class="c1"><span class="c3">Speed limits are the maximum speed you are allowed to ride. You need to ride to the</span></p><p class="c1"><span class="c3">conditions. To ride safely you might need to ride more slowly than the speed limit.</span></p><p class="c1"><span class="c3">Speed limits are often shown by speed limit signs &ndash; but even without signs speed limits still apply:</span></p><p class="c1"><span class="c3">&bull; In built-up areas where there are no signs, the speed limit is 50 km/h.</span></p><p class="c1"><span class="c3">&bull; In country areas where there are no signs, the speed limit is 100 km/h.</span></p><p class="c1"><span class="c3">&bull; Near schools and in shopping strips, the speed limit, marked by a sign, is often 40 km/h.</span></p><p class="c1"><span class="c3">&bull; In an area shared with pedestrians, and marked by a &lsquo;Shared Zone&rsquo; sign, the speed limit is generally posted at 10 km/h.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c8">Car overtaking or passing bikes</span></p><p class="c1"><span class="c3">When overtaking or passing a bike, car drivers should keep at least a metre clear</span></p><p class="c1"><span class="c3">in zones up to 60km/h and at least 1.5m if going over 60km/h</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Causing a traffic hazard</span></p><p class="c1"><span class="c3">You must not cause a traffic hazard by putting others at risk. This includes riding into the path of a driver or a pedestrian, riding too fast for the conditions or not looking before pulling out into traffic.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Mobile phones</span></p><p class="c1"><span class="c3">When riding a bike, you must not hold a mobile phone, use it to send text messages</span></p><p class="c1"><span class="c3">or touch it in any way.</span></p><p class="c1"><span class="c3">You can use a mobile phone as long as it&rsquo;s &lsquo;hands-free&rsquo; &ndash; either fixed to your bike or in your pocket or back pack &ndash; and only used for calls, listening to music or GPS navigation.</span></p><p class="c1"><span class="c3">For your safety, it is better not to use your phone at all while riding.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Taking your bike on public transport</span></p><p class="c1"><span class="c8">Trains</span></p><p class="c1"><span class="c3">You can take a regular bike on the train, but you can&rsquo;t board at the first door of the front carriage. The first door is for people using wheelchairs and mobility scooters.</span></p><p class="c1"><span class="c3">If you have a folding bike, you can board at any door.</span></p><p class="c1"><span class="c3">You must not block the doorway of the train or ride your bike on the platform.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c8">Buses and trams</span></p><p class="c1"><span class="c3">You cannot take your bike on a bus or tram unless it is a folding bike. For more information, visit the Public Transport Victoria website:</span></p><p class="c1"><span class="c13 c15"><a class="c7" href="https://www.google.com/url?q=http://ptv.vic.gov.au/getting-around/luggagebikes-and-animals/bikes-and-public-transport/&amp;sa=D&amp;ust=1587379612260000">http://ptv.vic.gov.au/getting-around/luggagebikes-and-animals/bikes-and-public-transport/</a></span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c3">Can I take my bike on a train?</span></p><p class="c1"><span class="c3">You can. But you must not board at the first door of the first carriage &ndash; you&rsquo;ll get in</span></p><p class="c1"><span class="c3">the way of people using wheelchairs and mobility scooters.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c9">Parking</span></p><p class="c1"><span class="c3">You can park your bike on a footpath as long as it&rsquo;s not in the way and you are not breaking any local laws. If you are allowed to park, use a bike rack or rail if there is one available. But you cannot park at all where there is a &lsquo;No Parking&rsquo; sign or similar.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c10">Tips</span><span class="c3">. Stay safe in heavy traffic</span></p><p class="c1"><span class="c3">It can be tricky riding in heavy traffic.</span></p><p class="c1"><span class="c3">&bull; Wear bright clothing and switch flashing lights on.</span></p><p class="c1"><span class="c3">&bull; Don&rsquo;t ride in drivers&rsquo; blind spots &ndash; make sure they can see you.</span></p><p class="c1"><span class="c3">&bull; Don&rsquo;t move in and out of traffic &ndash; ride in a straight line as much as possible.</span></p><p class="c1"><span class="c3">&bull; Use clear hand signals when changing lanes or turning.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c8">What is dooring?</span></p><p class="c1"><span class="c3">&lsquo;Dooring&rsquo; is when someone causes a hazard to a bike rider by opening a car</span></p><p class="c1"><span class="c3">door. Opening a door into the path of traffic is an offence. Bike riders can be hit by the door and even go into the path of oncoming traffic.</span></p><p class="c1"><span class="c3">Follow these safety tips:</span></p><p class="c1"><span class="c3">&bull; Look out for people getting in and out of parked cars.</span></p><p class="c1"><span class="c3">&bull; Stay out of the car door zone and ride at a speed that lets you avoid a collision.</span></p><p class="c1"><span class="c3">&bull; Make yourself visible: wear bright clothing and use flashing lights even in daylight.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c10">Tips</span><span class="c15">. </span><span class="c8">Safely opening car doors</span></p><p class="c1"><span class="c3">Before opening car doors, drivers and their passengers should check for bike riders.</span></p><p class="c1"><span class="c3">Use your mirrors and do a head check before opening your car door. One way to do this is to reach across to open the door with the hand that is furthest away from the door.</span></p><p class="c1 c5"><span class="c3"></span></p><hr style="page-break-before:always;display:none;"><p class="c1 c5"><span class="c3"></span></p><p class="c6 title" id="h.ip2ul0doc3qp"><span class="c12 c14">Riding in traffic </span></p><p class="c1"><span class="c3">Here you can find out about the rules on riding on roads, overtaking, turning, crossings and trams.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Where you can ride</span></p><p class="c1"><span class="c3">You can ride on the road unless there are signs saying otherwise, for example a &lsquo;No Bicycles&rsquo; sign or similar.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c8">One lane of traffic</span></p><p class="c1"><span class="c3">If there is only one lane heading where you want to go, you must ride as near as you can to the far left side of the road where this is safe and practical.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c8">Two or more lanes of traffic</span></p><p class="c1"><span class="c3">When there are two or more lanes heading where you want to go (a multilane road), you can ride on the left or down the centre of a lane and use the right-hand lane to do a right turn.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c8">Freeways</span></p><p class="c1"><span class="c3">You can&rsquo;t ride on urban freeways, but you can ride on the shoulders of some rural freeways, including the Western Freeway, the Calder Freeway, the Hume Freeway and parts of the Princes Freeway to Traralgon. The shoulder is an area to the left side of the road, which can be sealed or unsealed.</span></p><p class="c1"><span class="c15">To find out what rural freeways you can ride on, visit </span><span class="c13 c15"><a class="c7" href="https://www.google.com/url?q=https://www.vicroads.vic.gov.au/traffic-and-road-use/cycling/places-to-ride&amp;sa=D&amp;ust=1587379612270000">https://www.vicroads.vic.gov.au/traffic-and-road-use/cycling/places-to-ride</a></span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c10">Tips</span><span class="c3">. Riding on the road</span></p><p class="c1"><span class="c3">When riding on the far left side of the road, leave enough space to deal with debris</span></p><p class="c1"><span class="c3">and the effects of wind, and to avoid car doors.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Riding in groups</span></p><p class="c1"><span class="c3">You cannot have more than two riders next to each other except when overtaking. When you are riding next to someone you must not ride more than 1.5 metres apart from them.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Overtaking</span></p><p class="c1"><span class="c3">When you are riding on the road, you can overtake a vehicle on the left or right as long as:</span></p><p class="c1"><span class="c3">&bull; you can clearly see any approaching traffic and</span></p><p class="c1"><span class="c3">&bull; can overtake the vehicle safely.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c3">You must not overtake a vehicle:</span></p><p class="c1"><span class="c3">&bull; on the left if it is turning left and indicating left</span></p><p class="c1"><span class="c3">&bull; on the right if it is turning right and indicating right</span></p><p class="c1"><span class="c3">&bull; on the right if it is doing a U-turn from the centre of the road and indicating right.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Bike boxes</span></p><p class="c1"><span class="c3">A bike box is a box marked at an intersection with a bike symbol inside it. Only bikes, not cars, can stop in a bike box, when the light is red (see image next page).</span></p><p class="c1"><span class="c3">If there is a bike box, and you need to stop, you must stop inside it.</span></p><p class="c1"><span class="c3">Bike boxes are a safer place to stop and give you a head start over other traffic when the traffic lights turn green.</span></p><p class="c1"><span class="c3">If there is a bike lane leading into the bike box, you must use the bike lane to enter the bike box unless that is not a practical option.</span></p><p class="c1"><span class="c3">If the bike box goes across all traffic lanes you must:</span></p><p class="c1"><span class="c3">&bull; turn left from the left-lane side of the bike box</span></p><p class="c1"><span class="c3">&bull; turn right from the right-lane side of the bike box.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Hook turns</span></p><p class="c1"><span class="c3">A hook turn is a right-hand turn started from the far left of an intersection.</span></p><p class="c1"><span class="c3">If there is a hook turn only sign (see image below), you must do a hook turn to turn right.</span></p><p class="c1"><span class="c3">At any other intersections, you can do a hook turn unless a sign prohibits it. Turning right using a hook turn is often a safer option.</span></p><p class="c1"><span class="c3">For more information about hook turns, visit www.vicroads.vic.gov.au and search for &lsquo;bicycles&rsquo;.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Roundabouts</span></p><p class="c1"><span class="c3">If there is a bike lane on a roundabout, you must use it, unless it is not practical to do so.</span></p><p class="c1"><span class="c3">Like all road users, bike riders entering a roundabout must give way to any vehicles</span></p><p class="c1"><span class="c3">already in the roundabout.</span></p><p class="c1"><span class="c3">On a single-lane roundabout without a bike lane, it is a good idea to ride in the middle of the lane so you can be clearly seen and exit more easily.</span></p><p class="c1"><span class="c3">When you are on a multilane roundabout, you can travel in the left lane to go around it or in the right lane to turn right, but you must give way to anyone leaving the roundabout at any exit on the way round. This might mean stopping to let a car exit the roundabout. This rule applies even if you are riding in a bike lane on a roundabout.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1 c5"><span class="c12 c10"></span></p><p class="c1"><span class="c9">Crossings</span></p><p class="c1"><span class="c8">Level crossings</span></p><p class="c1"><span class="c3">Level crossings are areas where a road crosses train tracks and some tram tracks.</span></p><p class="c1"><span class="c3">When you ride across a level crossing, you must obey any signs and signals, and:</span></p><p class="c1"><span class="c3">&bull; do not stop on the train or tram tracks</span></p><p class="c1"><span class="c3">&bull; do not enter the crossing unless there is enough room for you on the other side of</span></p><p class="c1"><span class="c3">the tracks</span></p><p class="c1"><span class="c3">&bull; do not stop where there are yellow crisscross lines on the road</span></p><p class="c1"><span class="c3">&bull; cross only when the train or tram has passed.</span></p><p class="c1"><span class="c3">You can always get off your bike and walk it across a level crossing like other pedestrians, but you must obey all signs and signals.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c8">Bike crossings</span></p><p class="c1"><span class="c3">If there are bike crossing lights (lights with a bike symbol) you can ride your bike across when the green symbol is showing.</span></p><p class="c1"><span class="c3">Motorists or car drivers must give way to bike riders at bike crossings when the green bike symbol is showing.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c8">Pedestrian crossings</span></p><p class="c1"><span class="c3">When you are riding on the road and approach a pedestrian crossing you must:</span></p><p class="c1"><span class="c3">&bull; ride so that you can stop safely at it</span></p><p class="c1"><span class="c3">&bull; give way to any pedestrian on the crossing and not overtake another vehicle stopped at it.</span></p><p class="c1"><span class="c3">If you are riding on a bike path or similar and want to cross a road at a pedestrian crossing, you must get off your bike and walk it across unless there are bike crossing lights.</span></p><p class="c1 c5"><span class="c8"></span></p><p class="c1"><span class="c8">Children&rsquo;s crossings</span></p><p class="c1"><span class="c3">When you approach a children&rsquo;s crossing, marked by &lsquo;Children Crossing&rsquo; flags, you must ride so you can safely stop at it. At the crossing you must:</span></p><p class="c1"><span class="c3">&bull; stop if there is a pedestrian on it, or about to step onto it</span></p><p class="c1"><span class="c3">&bull; stop if a crossing supervisor is using a hand-held &lsquo;Stop&rsquo; sign</span></p><p class="c1"><span class="c3">&bull; not go until the crossing is clear of pedestrians.</span></p><p class="c1"><span class="c3">When you want to cross the road using a children&rsquo;s crossing, you must get off your bike and walk it across the road.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c10">Tips</span><span class="c3">. Overtaking pedestrians</span></p><p class="c1"><span class="c3">When overtaking pedestrians:</span></p><p class="c1"><span class="c3">&bull; slow down</span></p><p class="c1"><span class="c3">&bull; ring your bell in advance</span></p><p class="c1"><span class="c3">&bull; leave enough space between you and them.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c9">Trams</span></p><p class="c1"><span class="c3">You must give way to trams and not ride into their path.</span></p><p class="c1"><span class="c3">When a tram is stopped at a tram stop on your side of the road you must stop your bike behind the tram unless there is a &lsquo;safety zone&rsquo;.</span></p><p class="c1"><span class="c3">Once the doors have closed and the road is clear of pedestrians, you can ride past the tram at less than 10 km/h.</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c8">Safety zones</span></p><p class="c1"><span class="c3">Some tram stops have &lsquo;safety zones&rsquo; to protect pedestrians getting on and off trams. They are marked by a yellow &lsquo;Safety Zone&rsquo; sign and have a barrier separating pedestrians from traffic.</span></p><p class="c1"><span class="c3">You can ride past a safety zone at a speed that doesn&rsquo;t risk the safety of pedestrians crossing the road to or from the safety zone.</span></p><p class="c1 c5"><span class="c8"></span></p><p class="c1"><span class="c8">Bus lanes</span></p><p class="c1"><span class="c3">Bike riders can ride in a bus lane unless a sign prohibits it.</span></p><p class="c1"><span class="c3">Stopping behind a tram</span></p><p class="c1 c5"><span class="c3"></span></p><p class="c1"><span class="c10">Tips</span><span class="c3">. Crossing tram tracks</span></p><p class="c1"><span class="c3">Be careful when crossing tram tracks.</span></p><p class="c1"><span class="c3">Keep your wheel at an angle to the tram tracks when you cross them. Don&rsquo;t approach with your wheel straight alongside as it could get stuck in the track.</span></p><p class="c1"><span class="c3">If it is wet, be careful to make no sudden movements until you have crossed the</span></p><p class="c1"><span class="c3">slippery tracks.</span></p><p class="c1 c5"><span class="c3"></span></p><hr style="page-break-before:always;display:none;"><p class="c1 c5"><span class="c0"></span></p><p class="c6 title" id="h.byhscvnqy7kv"><span class="c12 c14">Riding on bike lanes and paths </span></p><p class="c1"><span class="c0">It is important to know what bike lanes and paths look like and the different rules that apply to them. </span></p><p class="c1"><span class="c4">Bike lanes &#22270;</span></p><p class="c1"><span class="c0">Bike lanes are on-road lanes reserved for bike riders identified with a bike symbol on the road and a sign which says that it is a bike lane. They will usually be signposted at the beginning and end, but they may also end at an intersection. High-risk sections of bike lanes are sometimes painted green. You must use a bike lane if there is one, unless that is not a practical option &ndash; for example, if the lane is blocked.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">Q&amp;A Can I ride my bike with my dog on a lead?</span></p><p class="c1"><span class="c0">No. It is illegal to have your dog on a lead while you ride your bike. You must only walk your dog on foot.</span></p><h1 class="c11" id="h.378pbmeskjs3"><span class="c4">Bike paths &#22270;</span></h1><p class="c1"><span class="c0">Bike paths are separate, usually off-road paths reserved for bike riders. Bike paths are marked by a &lsquo;Bicycles Only&rsquo; sign on a signpost, which has a bike symbol and the word &lsquo;only&rsquo; underneath it. They end where the path meets a road or footpath or where indicated by a sign.</span></p><p class="c1 c5"><span class="c0"></span></p><h1 class="c11" id="h.h02o9ago7t3r"><span class="c4">Share paths &#22270;</span></h1><p class="c1"><span class="c0">Shared paths are off-road, public areas that bike riders and pedestrians are allowed to use. They are marked by painted images of a pedestrian and a bike on a signpost or the path itself.</span></p><p class="c1 c5"><span class="c0"></span></p><h1 class="c11" id="h.46e7608tfznf"><span class="c12 c21">Overtaking on a shared path </span></h1><p class="c1"><span class="c0">On a shared path, you must keep to the left and give way to pedestrians. Pedestrians include people: </span></p><p class="c1"><span class="c0">&bull; using wheelchairs and mobility scooters</span></p><p class="c1"><span class="c0">&nbsp;&bull; on rollerblades, roller skates, skateboards, non-motorised scooters or something similar. When overtaking pedestrians, ring your bell in advance, slow down and make sure you leave enough space when overtaking. </span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">Tip</span></p><p class="c1"><span class="c0">Riding at a safe speed Ride at a safe speed, especially around pedestrians on shared paths and footpaths and slower bike riders. </span></p><p class="c1 c5"><span class="c0"></span></p><h1 class="c11" id="h.t7a5gsasds97"><span class="c2">Separated footpaths</span></h1><p class="c1"><span class="c0">&nbsp;A separated footpath is a path divided in two &ndash; with one side reserved for bike riders, the other for pedestrians. It is usually marked by a sign on a signpost. This sign has, side by side, a pedestrian symbol with the word &lsquo;only&rsquo; underneath it and a bike symbol with the word &lsquo;only&rsquo; underneath it.</span></p><p class="c1"><span class="c0">&nbsp;You must not ride on the side reserved for pedestrians. Separated footpath sign 28 </span></p><h1 class="c11" id="h.9od8yjfawmbv"><span class="c2">Footpaths</span></h1><p class="c1"><span class="c0">&nbsp;You can only ride on a footpath if you:</span></p><p class="c1"><span class="c0">&nbsp;&bull; are under the age of 12 </span></p><p class="c1"><span class="c0">&bull; are an adult (18 years or older) supervising a child under 12 </span></p><p class="c1"><span class="c0">&bull; have a disability that means it&rsquo;s difficult for you to ride on the road </span></p><p class="c1"><span class="c0">&bull; are accompanying and supervising an adult (18 years or older) with a disability who is riding on the footpath. </span></p><p class="c1"><span class="c0">If you have a disability and are riding on a footpath, you must be able to show police a medical certificate if you&rsquo;re asked.</span></p><p class="c1"><span class="c0">&nbsp;When riding on a footpath, you must keep to the left and give way to pedestrians.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">Q&amp;A</span></p><p class="c1"><span class="c0">When can cars enter bike lanes?</span></p><p class="c1"><span class="c0">&nbsp;Bike lanes are reserved for bike riders. But car drivers can enter and drive in a bike lane for up to 50 metres: </span></p><p class="c1"><span class="c0">&bull; to enter or leave a road </span></p><p class="c1"><span class="c0">&bull; to turn at an intersection</span></p><p class="c1"><span class="c0">&nbsp;&bull; to overtake to the left of a vehicle turning right or doing a U-turn from the centre of the road</span></p><p class="c1"><span class="c0">&nbsp;&bull; to park</span></p><p class="c1"><span class="c0">&nbsp;&bull; to get from one part of the road to another</span></p><p class="c1"><span class="c0">&nbsp;&bull; to enter traffic, having been parked on the side of the road </span></p><p class="c1"><span>&bull; to pick up or drop off passengers &ndash; but only if they are driving a taxi or public bus<br> &bull; if there is a sign saying car drivers can also use the lane. Car drivers must always give way to any bike riders already in the lane.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1 c5"><span class="c0"></span></p><p class="c6 title" id="h.7h8qiu2nj7k0"><span class="c12 c14">Bikes and children </span></p><p class="c1"><span class="c0">Some different rules apply when you are riding with children.</span></p><p class="c1 c5"><span class="c0"></span></p><h1 class="c11" id="h.seh0wmousma0"><span class="c2">Helmets </span></h1><p class="c1"><span class="c0">All children &ndash; whether they are riding a bike or they are a passenger &ndash; must wear a properly fitting and fastened helmet that meets Australian safety standard AS/NZS2063. </span></p><h1 class="c11" id="h.nm8b9r3r9ils"><span class="c2">Where to ride</span></h1><p class="c1"><span class="c0">&nbsp;Children can ride on the road, but it may be safer for them to ride on the footpath. Children under the age of 12 can ride on footpaths, bike paths, shared paths and separated footpaths (see Separated footpaths on page 27). If you are an adult (18 years or older) supervising a child under 12 you can ride with them on a footpath.</span></p><h1 class="c11" id="h.1glizlm3n6b6"><span class="c2">Child seats </span></h1><p class="c1"><span class="c0">Your child can be a passenger on your bike if you have fitted a properly designed child seat. Unless the bike is parked, your child must remain in the child seat. Make sure you get a safe child seat. For further information, call the Safety Centre at The Royal Children&rsquo;s Hospital on (03) 9345 5085. </span></p><h1 class="c11" id="h.jq25dtwdhp72"><span class="c2">Trailers and cargo bikes</span></h1><p class="c1"><span class="c12 c17">&nbsp;Trailers</span></p><p class="c1"><span class="c0">&nbsp;To take a child in a trailer towed behind a bike you must be at least 16 years old and the child must be under 10 years old, unless they are carrying a medical certificate for a disability or medical condition. The trailer must also be able to safely carry the passenger. You must not use a trailer on a footpath.</span></p><p class="c1"><span class="c0">&nbsp;It is a good idea to attach a flag to the trailer so it can be seen more easily. If you&rsquo;re riding at night or in bad weather, you must attach lights and a reflector to your bike (see page 4 for details). </span></p><p class="c1"><span class="c0">It&rsquo;s also a good idea to attach:</span></p><p class="c1"><span class="c0">&nbsp;&bull; red lights and reflectors to the back of the trailer, and </span></p><p class="c1"><span class="c0">&bull; yellow reflectors to each side of the trailer.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c12 c17">Cargo bikes </span></p><p class="c1"><span class="c0">&lsquo;Cargo bikes&rsquo; have a box or other carrier which is part of the front of the bike. They can be used to carry a child, preferably in a designated seat, with a harness.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">&nbsp;Cargo bikes can only carry as many passengers as they are designed to &ndash; usually this will mean one or two children.</span></p><p class="c1"><span class="c0">&nbsp;</span></p><p class="c1"><span class="c0">If you&rsquo;re riding at night or in bad weather, you must attach lights and a reflector to your bike (see page 4 for details). It&rsquo;s also a good idea to attach: </span></p><p class="c1"><span class="c0">&bull; white lights to the front of the cargo part of the bike, and </span></p><p class="c1"><span class="c0">&bull; yellow reflectors to each side of it</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c6 title" id="h.fdm2g832nrmy"><span class="c12 c14">Fines and crashes</span></p><p class="c1"><span class="c0">This section covers your responsibilities and rights if you break a road rule, are stopped by police or are involved in a crash. </span></p><p class="c1 c5"><span class="c0"></span></p><h1 class="c11" id="h.s2ugflm5cyt2"><span class="c2">Breaking the rules </span></h1><p class="c1"><span class="c0">When you break a road rule you commit a traffic offence. Minor traffic offences, such as failing to give a hand signal when you have to, are often called traffic &lsquo;infringements&rsquo;. They will usually be dealt with by an on-the-spot fine. For more serious offences, such as riding dangerously, you could be convicted of a crime and go to prison.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c12 c17">Traffic infringements </span></p><p class="c1"><span>If you commit a traffic infringement you will be given an &lsquo;infringement notice&rsquo; by a police officer. The notice lists the road rule you broke, the amount of the on-the-spot fine, the due date for payment and how to pay. For more information about traffic infringement penalties, visit the State Government of Victoria&rsquo;s fines website: </span><span class="c13"><a class="c7" href="https://www.google.com/url?q=https://online.fines.vic.gov.au/&amp;sa=D&amp;ust=1587379612309000">https://online.fines.vic.gov.au/</a></span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">TIP: Carry identification</span></p><p class="c1"><span class="c0">&nbsp;It&rsquo;s a good idea to carry ID &ndash; this will help people know who you are if you are in a crash</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">Dealing with fines </span></p><p class="c1"><span class="c0">When you get an on-the-spot fine for a traffic infringement you can usually pay it and avoid a court hearing and possible criminal conviction. But if you decide not to pay the fine straight away, you can ask for it to be reviewed by the body that issued it or challenge it in court. If you&rsquo;re going to court, get legal advice first. </span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c20">More serious traffic offences</span><span class="c0">&nbsp;</span></p><p class="c1"><span class="c0">Just like a motorist, you can be charged with more serious traffic offences. If convicted of these offences you can get a large fine or even a prison term. Here are two examples. </span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">Careless riding</span></p><p class="c1"><span class="c0">You must not ride your bike carelessly on a road. For example, riding too fast for the conditions and not looking where you are going could amount to careless riding. If you are convicted of careless riding you could receive a substantial fine. </span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">Dangerous riding</span></p><p class="c1"><span class="c0">&nbsp;You must not risk public safety by riding your bike dangerously. For example, riding too fast for the conditions and not looking out for pedestrians could amount to dangerous riding. If you are convicted of dangerous riding, you could receive a large fine or even a prison term.</span></p><p class="c1 c5"><span class="c0"></span></p><h1 class="c11" id="h.tdwix8kq1r2t"><span class="c2">Being stopped by police</span></h1><p class="c1"><span class="c0">&nbsp;If you are riding your bike and are stopped by police for questioning regarding an offence, you must give the police your correct name and address. It is a criminal offence not to give it, or to give a false name or address. You are not required to say anything else, even if you are arrested. </span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">You have the right to ask a police officer for their name, rank and the police station they are from. If asked, the police must give you those details.</span></p><p class="c1"><span class="c0">&nbsp;If the police arrest you, they must tell you why. If you are arrested, you must go with the police, usually to a police station. You do not have to say anything, and you have the right to call a relative or friend (to tell them where you are), as well as a lawyer</span></p><p class="c1 c5"><span class="c0"></span></p><h1 class="c11" id="h.wlcrvi7b7acw"><span class="c2">Crashes</span></h1><p class="c1"><span class="c0">&nbsp;If you are involved in a crash with another rider, pedestrian or driver, you have certain responsibilities and rights. If you are in a crash in which someone is hurt, you must:</span></p><p class="c1"><span class="c0">&nbsp;&bull; stop and help them </span></p><p class="c1"><span class="c0">&bull; give your name and address to anyone involved, and to any police present</span></p><p class="c1"><span class="c0">&nbsp;&bull; report the crash to the police.</span></p><p class="c1"><span class="c0">&nbsp;It is a serious offence if you do not. There are different penalties depending on whether anyone was killed or seriously injured. They may include a large fine or a prison term.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c0">Q&amp;A</span></p><p class="c1"><span class="c0">Don&rsquo;t drink or use drugs and ride</span></p><p class="c1"><span class="c0">&nbsp;It&rsquo;s not only dangerous to ride your bike if you&rsquo;re drunk or drug-affected &ndash; it&rsquo;s also against the law.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c12 c17">Insurance </span></p><p class="c1"><span class="c0">Bike insurance can cover you for some of the cost of your injuries, damage to your bike or injury and damage to someone else and their property. See Insurance on page 6 for more details.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c12 c17">TAC compensation for injury or death</span></p><p class="c1"><span class="c12 c17">What the TAC covers</span></p><p class="c1"><span class="c0">If you are injured in a crash in Victoria involving a moving motor vehicle, train or tram that is registered in Victoria, you may be eligible for support and services under the TAC scheme. It also covers you if you crash into an open or opening car door, or if you collide with a stationary vehicle while you are riding to or from work. To be eligible, you must report the crash to police. </span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c12 c17">What the TAC does not cover</span></p><p class="c1"><span class="c0">The TAC scheme does not cover crashes that only involved you and another bike rider or a pedestrian, or you alone. Note, also, that the TAC will not cover you when you can be compensated under another scheme, such as WorkSafe.</span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1"><span class="c12 c17">What you can get</span></p><p class="c1"><span class="c0">Under the TAC scheme, you can get the cost of reasonable medical expenses covered, as well as compensation for lost earnings from your job while you recover. If you were seriously injured in a crash that was the fault of a motorist or train or tram driver, you can also sue for compensation (&lsquo;damages&rsquo;). Call the TAC on 1300 654 329 or visit their website (www.tac.vic.gov.au) for more information on making a claim. </span></p><p class="c1 c5"><span class="c12 c17"></span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1 c5"><span class="c0"></span></p><p class="c1 c5"><span class="c0"></span></p>
    </body>
    </html>