
@{
    ViewBag.Title = "education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @*<div >*@
        <div class="col-md-4">
            <a href="/Home/Quiz">
                <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/roadrules.png" width="300" height="400" />
            </a>
            @*<p><a class="btn btn-default" href="/Home/Education">Road Rules &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <a href="/Home/Contact">
                <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/bicycleequipment.png" width="300" height="400" />
            </a>
            @*<p><a class="btn btn-default" href="/Home/Quiz">Bicycle Equipment &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <a href="/Home/Contact">
                <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/trafficsign.png" width="300" height="400">
                </a>
                @*<p><a class="btn btn-default" href="/Home/Map">Traffic Sign &raquo;</a></p>*@
        </div>
    @*</div>*@
</div>



