@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .bg {
            background-image: url('https://ieimage.s3-ap-southeast-2.amazonaws.com/ID22%402x.png');
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>

    <style>
        .bg2 {
            background-image: url("https://www.rei.com/dam/content_team_083017_36416_bikes_how_choose_lg.jpg");
            min-height: 400px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    </style>

    <style>
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #4CAF50;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 30px;
            padding: 200px 180px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }

        div img {
            width: 90%;
            height: 90%;
            object-fit: cover;
        }
    </style>
</head>



<div class="row">
    <h1>Cycling is fun right? So what is stoping your cycling journey</h1>

    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
@*<img src="~/Views/image2/ID22@2x.png" />
    <img src="~/Views/image2/macbook_pro_2764678_bb@2x.png" />*@






<div class="bg"></div>

<p>See our section ! </p>


@*<div class="row">

        <div class="col-md-4">

            <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/education.png" />
            <p><a class="btn btn-default" href="/Home/Education">Education &raquo;</a></p>
        </div>
        <div class="col-md-4">

            <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/quiz.png" />

            <p><a class="btn btn-default" href="/Home/Quiz">Quiz &raquo;</a></p>
        </div>



        <div class="col-md-4">

            <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/map.png" />
            <p><a class="btn btn-default" href="/Home/Map">Map &raquo;</a></p>
        </div>

    </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Education</h2>
                <p>
                    Know the necessary and essential cycling information for road rules, bicycle components and  traffic components
                </p>

            </div>
            <div class="col-md-4">
                <h2>Quiz</h2>
                <p>Validate your knowledge of cycling now? A small quiz question we provide to help you improve your skills.</p>

            </div>
            <div class="col-md-4">
                <h2>Map</h2>
                <p>Be careful whenever you are cycling, check our map to see where the most dangerous place for cycling is.</p>

            </div>
        </div>*@

@*test function*@
<div class=" col-md-4">
    <div class="img-section" id="education-img">

        <a href="" class="btn-in-img">Education</a>
        <p>
            Know the necessary and essential cycling information for road rules, bicycle components and  traffic components
        </p>
    </div>
</div>
<div class=" col-md-4">
    <div class="img-section" id="quiz-img">
        <a href="/Home/Education" class="btn-in-img">quiz</a>
    </div>
</div>
<div class=" col-md-4">
    <div class="img-section" id="map-img">
        <a href="" class="btn-in-img">map</a>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="bg2"></div>



<div class="row">
    <h1>Data part</h1>
    <div class=" = col-md-4"><img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/datatable.png" style="width:350px"> </div>
    <div class=" = col-md-8">
        ALARMING FACTS
        •The rates of hospitalized pedal cyclist cases for people aged 25 years or above have shown an increasing trend in Australia.
        • There have been 16,651 deaths due to the injuries suffered, i.e. 38 deaths/year.
        • 4 out of 10 injured pedal cyclists that were hospitalized were injured off-road
    </div>
</div>


<div class="bg"></div>
