@{
    ViewBag.Title = "Home Page";
}
    <head>
        <style>
            .bg {
                background-image: url("https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Article+Image+Update/Cycling/Century+Ride+Rookies/carousel.jpg");
                min-height: 400px;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        </style>

        <style>
            .bg2 {
                background-image: url("https://www.rei.com/dam/content_team_083017_36416_bikes_how_choose_lg.jpg");
                min-height: 400px;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        </style>

        <style>
            .button {
                display: inline-block;
                border-radius: 4px;
                background-color: #4CAF50;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-size: 30px;
                padding: 200px 180px;
                width: 200px;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;
            }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }

        </style>
    </head>



<div class="row">
    <h1>Cycling is fun right? So what is stoping your cycling journey</h1>

    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="bg"></div>

<div class="row">
    <h1>Cycling is fun right? So what is stoping your cycling journey</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <button class="button" style="vertical-align:middle"><span>Education </span></button>
        <button class="button" style="vertical-align:middle"><span>Quiz </span></button>
        <button class="button" style="vertical-align:middle"><span>Map </span></button>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Education</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quiz</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Map</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="bg2"></div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <h1>Data part</h1>
    <div class=" = col-md-4"><img src="http://blog.tmr.qld.gov.au/cycling/wp-content/uploads/sites/7/2017/05/60-percent.png" style="width:350px"> </div>
    <div class=" = col-md-8">NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects</div>
  </div>


<div class="bg"></div>