
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @*<head>
        map {
        background: url(https://ieimage.s3-ap-southeast-2.amazonaws.com/maptab2.png);
        background-repeat: no-repeat;
        background-size: cover;
        }
    </head>*@
<div>
    map

    <img object-fit: cover; src="https://ieimage.s3-ap-southeast-2.amazonaws.com/maptab.png " />
</div>


<h2>Map</h2>

