
@{
    ViewBag.Title = "PasswordPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.BodyStyle = "body-no-banner";
}
    <script type="text/javascript">loopy()
        function loopy() {
            var sWord = ""
            while (sWord != "sportsaholics") {
                sWord = prompt("Please enter password")
            }
            alert("Welcome")
        }</script>
<h2>PasswordPage</h2>

