
@{
    ViewBag.Title = "QuizIndex";
    ViewBag.BodyStyle = "body-no-banner";
}

<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Map</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12">
                <img style="max-width: 100%;" src="https://ieimage.s3-ap-southeast-2.amazonaws.com/maptab.png " />
            </div>
        </div>

    </div>
</div>
