@{
    ViewBag.Title = "RoadRules";
    ViewBag.BodyStyle = "body-no-banner";

}

    <div id="portfolio" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Education</h3>
                <p>Something you need to know before your riding.</p>
            </div><!-- end title -->

            <div id="about" class="section wb">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="message-box">
                                <h2>Essential Road Rules</h2>
                                <p> by VicRoads </p>
                                <hr>
                                <h3>| Safe Riding </h3>
                                <p>
                                    When you are riding your bike you must:
                                    <br>• face forwards and have at least one hand on the handlebars.
                                    <br>• keep a safe distance between you and any traffic in front of you.
                                    <br>Make sure you have enough space to stop safely.
                                    <br>‘Drinking’ is against the law. Passengers can only sit on your bike if they are in a seat for a passenger.
                                </p>
                                <h3>| Traffic lights, signals and signs </h3>
                                <p>
                                    You must obey traffic lights, signals, signs and road markings, and follow the road rules on stopping and giving way.
                                    If there are no traffic lights, signs or lines at an intersection, you must give way to any vehicle on your right that would cross your path.
                                </p>

                            </div><!-- end messagebox -->
                        </div><!-- end col -->

                        <div class="col-md-6">
                            <div class="right-box-pro wow fadeIn">
                                <img src="~/Content/images/article_photo/photo_06.png" alt="" class="img-fluid img-rounded">
                            </div><!-- end media -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <div class="row">

                        <div class="col-md-2 text-center">
                            <i class="fa fa-bicycle" style="font-size: 80px;"></i>
                        </div><!-- end col -->

                        <div class="col-md-8">
                            <h3>Safely opening car doors</h3>
                            <p>Test</p>
                        </div><!-- end col -->
                    </div><!-- end row -->

                </div><!-- end container -->
            </div><!-- end section -->

        </div>
    </div>

