
@{
    ViewBag.Title = "WarmUp";
    ViewBag.BodyStyle = "body-no-banner";
}

<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Warm-Up</h3>
            <p>Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus.</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-12">
                <img src=" https://i.pinimg.com/474x/f1/94/cb/f194cbec16b7d8f1493b43ddbc7309dc.jpg" />
            </div>
        </div>

    </div>
</div>