@{
    ViewBag.Title = "RoadRules";
    ViewBag.BodyStyle = "body-no-banner";

}

<div id="article" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Education</h3>
            <p>Something you need to know before start your riding.</p>
        </div><!-- end title -->

        <div id="content" class="section wb">
            <div class="container">

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="message-box">
                            <h2>Essential Road Rules</h2>
                            <p> by VicRoads </p>
                            <hr>
                            <h3>| Safe Riding </h3>
                            <p>
                                When you are riding your bike you must:
                                <br>• Face forwards and have at least one hand on the handlebars.
                                <br>• Keep a safe distance between you and any traffic in front of you.
                                <br>• Make sure you have enough space to stop safely.
                                <br>• ‘Drinking’ is against the law. Passengers can only sit on your bike if they are in a seat for a passenger.
                            </p>
                            <h3>| Traffic lights, signals and signs </h3>
                            <p>
                                You must obey traffic lights, signals, signs and road markings, and follow the road rules on stopping and giving way.
                                If there are no traffic lights, signs or lines at an intersection, you must give way to any vehicle on your right that would cross your path.
                            </p>

                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                    <div class="col-md-5">
                        <div class="right-box-pro wow fadeIn">
                            <img src="~/Content/images/article_photo/photo_06.png" alt="" class="img-fluid">
                        </div><!-- end media -->
                    </div><!-- end col -->
                </div><!-- end row -->


                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tip">
                            <div class="tip-icon">
                                <i class="flaticon-innovation"></i>
                            </div>
                            <div class="tip-content">
                                <h3>Turning right at an intersection</h3>
                                <p>
                                    If you want to turn right at any intersection, doing a hook turn is often a safer option (unless a sign prohibits it).
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->


                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="message-box">
                            <h5>Traffic lights</h5>
                            <p>
                                You must obey any traffic lights, including bike traffic lights that use bike symbols. You
                                must also obey traffic arrows if you are about to make a turn.
                                You must always:
                                <br>• give way to pedestrians who are crossing on the road you are turning into, even if there
                                are no pedestrian lights or the pedestrian lights are not green
                                <br>• stop at yellow lights and arrows when it is safe to do so.
                            </p>
                            <h5>Stop signs and lines</h5>
                            <p>
                                You must obey ‘Stop’ signs and lines. At a stop line, you must come to a complete stop
                                and usually give way to any vehicles already in, entering or approaching an intersection.
                                A stop line is an unbroken white line across a road lane.
                            </p>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tip">
                            <div class="tip-icon">
                                <i class="flaticon-innovation"></i>
                            </div>
                            <div class="tip-content">
                                <h3>Overtaking a vehicle that is turning left</h3>
                                <p>
                                    You must not overtake a vehicle on the left if it is indicating left and turning left.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h5>‘Give Way’ signs and lines</h5>
                        <p>
                            You must obey ‘Give Way’ signs and lines.
                            <br>At a give way line, you must slow down and stop if necessary to avoid a collision.
                            <br>If you are stationary, you must remain stationary until it is safe to go.
                            <br>You must give way to any vehicles already in, entering or approaching an intersection.
                            <br>A give way line is a broken white line across a road lane.
                        </p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="wow fadeIn text-center">
                            <img src="~/Content/images/article_photo/photo_08.png" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div>
                    <div class="col-md-5">
                        <div class="wow fadeIn text-center">
                            <img src="~/Content/images/article_photo/photo_09.png" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <h3>| Turning and signalling</h3>
                        <p>
                            You must give way to pedestrians crossing the road you are turning into whether there are pedestrian lights or not.
                        </p>
                        <h5>Turning right</h5>
                        <p>Whenever you are moving over to the right, including when changing lanes or turning right, you must signal by extending your right arm out to the side.</p>
                        <h5>Turning left</h5>
                        <p>You do not have to signal if you’re turning left, but it’s a good idea to.</p>

                        <h3>| Speed</h3>
                        <p>
                            You must obey the speed limit. It is also a serious offence to ride at a dangerous speed.
                            Speed limits are the maximum speed you are allowed to ride. You need to ride to the
                            conditions. To ride safely you might need to ride more slowly than the speed limit.
                            Speed limits are often shown by speed limit signs – but even without signs speed limits
                            still apply:
                            <br>• In built-up areas where there are no signs, the speed limit is 50 km/h.
                            <br>• In country areas where there are no signs, the speed limit is 100 km/h.
                            <br>• Near schools and in shopping strips, the speed limit, marked by a sign, is often 40 km/h.
                            <br>• In an area shared with pedestrians, and marked by a ‘Shared Zone’ sign, the speed limit
                            is generally posted at 10 km/h.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <div class="right-box-pro wow fadeIn">
                            <img src="~/Content/images/article_photo/photo_07.png" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div><!-- end col -->

                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tip">
                            <div class="tip-icon">
                                <i class="flaticon-innovation"></i>
                            </div>
                            <div class="tip-content">
                                <h3>Car overtaking or passing bikes</h3>
                                <p>
                                    When overtaking or passing a bike, car drivers
                                    should keep at least a metre clear in zones up to
                                    60km/h and at least 1.5m if going over 60km/h.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->


                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h3>| Causing a traffic hazard</h3>
                        <p>
                            You must not cause a traffic hazard by putting others at risk. This includes riding into
                            the path of a driver or a pedestrian, riding too fast for the conditions or not looking
                            before pulling out into traffic.
                        </p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h3>| Mobile phones</h3>
                        <p>
                            When riding a bike, you must not hold a mobile phone, use it to send text messages or
                            touch it in any way.
                            You can use a mobile phone as long as it’s ‘hands-free’ – either fixed to your bike or in
                            your pocket or back pack – and only used for calls, listening to music or GPS
                            navigation.
                            For your safety, it is better not to use your phone at all while riding.
                        </p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h3>| Taking your bike on public transport</h3>
                        <h5>Trains</h5>
                        <p>
                            You can take a regular bike on the train, but you can’t board at the first door of the front
                            carriage. The first door is for people using wheelchairs and mobility scooters.
                            If you have a folding bike, you can board at any door.
                            You must not block the doorway of the train or ride your bike on the platform.
                        </p>
                        <h5>Buses and trams</h5>
                        <p>
                            You cannot take your bike on a bus or tram unless it is a folding bike. For more
                            information, visit the Public Transport Victoria website:
                            http://ptv.vic.gov.au/getting-around/luggagebikes-and-animals/bikes-and-public-
                            transport/
                        </p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tip">
                            <div class="tip-icon">
                                <i class="flaticon-innovation"></i>
                            </div>
                            <div class="tip-content">
                                <h3>Can I take my bike on a train?</h3>
                                <p>
                                    You can. But you must not board at the first door of the first carriage – you’ll get in the way of people using wheelchairs and mobility scooters.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <h3>| Parking</h3>
                        <p>
                            You can park your bike on a footpath as long as it’s not in the
                            way and you are not breaking any local laws. If you are
                            allowed to park, use a bike rack or rail if there is one
                            available. But you cannot park at all where there is a ‘No
                            Parking’ sign or similar.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="right-box-pro wow fadeIn">
                            <img src="~/Content/images/article_photo/photo_10.png" alt="" class="img-fluid img-rounded">
                        </div><!-- end media -->
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tip">
                            <div class="tip-icon">
                                <i class="flaticon-innovation"></i>
                            </div>
                            <div class="tip-content">
                                <h3>Stay safe in heavy traffic</h3>
                                <p>
                                    It can be tricky riding in heavy traffic.
                                    • Wear bright clothing and switch flashing lights on.
                                    • Don’t ride in drivers’ blind spots – make sure they can see you.
                                    • Don’t move in and out of traffic – ride in a straight line as much as possible.
                                    • Use clear hand signals when changing lanes or turning.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <h5>What is dooring?</h5>
                        <p>
                            Dooring’ is when someone causes a hazard to a bike rider by opening a car door.
                            Opening a door into the path of traffic is an offence. Bike riders can be hit by the door
                            and even go into the path of oncoming traffic.
                            Follow these safety tips:
                            • Look out for people getting in and out of parked cars.
                            • Stay out of the car door zone and ride at a speed that lets you avoid a collision.
                            • Make yourself visible: wear bright clothing and use flashing lights even in daylight.
                        </p>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tip">
                            <div class="tip-icon">
                                <i class="flaticon-innovation"></i>
                            </div>
                            <div class="tip-content">
                                <h3>Safely opening car doors</h3>
                                <p>
                                    Before opening car doors, drivers and their passengers should check for bike riders.
                                    Use your mirrors and do a head check before opening your car door. One way to do this is to reach across to open the door with the hand that is furthest away from the door.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mt-5 pt-5">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="sim-btn hvr-bounce-to-top" href="@Url.Action("Index", "Education")">
                                <i class="fa fa-long-arrow-left pr-2"></i>
                                <span>Back</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div><!-- end container -->
        </div><!-- end section -->

    </div><!-- end container -->
</div><!-- end section -->
