@{
    ViewBag.Title = "RidingLanesAndPaths";
    ViewBag.BodyStyle = "body-no-banner";
}


<div id="article" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Education</h3>
            <p>Something you need to know before start your riding.</p>
        </div><!-- end title -->

        <div id="content" class="section wb">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="message-box">
                            <h2> Riding on bike lanes and paths</h2>
                            <p> by VicRoads </p>
                            <hr>
                            <h3>| Bike lanes </h3>
                            <p>
                                Bike lanes are on-road lanes reserved for bike riders identified with a bike symbol on the road and a sign which says that it is a bike lane. They will usually be signposted at the beginning and end, but they may also end at an intersection. High-risk sections of bike lanes are sometimes painted green.
                            </p>
                            <p>
                                You must use a bike lane if there is one, unless that is not a practical option – for example, if the lane is blocked.
                            </p>
                            <h3>| Traffic lights, signals and signs </h3>
                            <p>
                                You must obey traffic lights, signals, signs and road markings, and follow the road rules on stopping and giving way.
                                If there are no traffic lights, signs or lines at an intersection, you must give way to any vehicle on your right that would cross your path.
                            </p>
                            @*<div class="tip-content">
                                    <h3>Can I ride my bike with my dog on a lead?</h3>
                                    <p>
                                        No. It is illegal to have your dog on a lead while you ride your bike. You must only walk your dog on foot.
                                    </p>
                                </div>*@


                        </div><!-- end messagebox -->
                    </div><!-- end col -->


                </div><!-- end row -->


                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tip">
                            <div class="tip-icon">
                                <i class="flaticon-innovation"></i>
                            </div>
                            <div class="tip-content">
                                <h3>Can I ride my bike with my dog on a lead?</h3>
                                <p>
                                    No. It is illegal to have your dog on a lead while you ride your bike. You must only walk your dog on foot.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->

                <div class="row mb-4">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="right-box-pro wow fadeIn">
                            <img src="~/Content/images/article_photo/photo_20.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="message-box">
                            <h3>| Bike paths </h3>
                            <p>
                                Bike paths are separate, usually off-road paths reserved for bike riders. Bike paths are marked by a ‘Bicycles Only’ sign on a signpost, which has a bike symbol and the word ‘only’ underneath it. They end where the path meets a road or footpath or where indicated by a sign.
                            </p>
                            <div class="right-box-pro wow fadeIn">
                                <img src="~/Content/images/article_photo/photo_21.png" alt="" class="img-fluid">
                            </div>

                            <br>
                            <h3>|  Share paths </h3>
                            <p>
                                HomeTriviaMapRoad RulesRiding on bike lanes and paths| Bike lanes
                                by VicRoadsBike lanes are on-road lanes reserved for bike riders identified with a bike symbol on the road and a sign which says that it is a bike lane. They will usually be signposted at the beginning and end, but they may also end at an intersection. High-risk sections of bike lanes are sometimes painted green.
                                You must use a bike lane if there is one, unless that is not a practical option – for example, if the lane is blocked.Bike paths are separate, usually off-road paths reserved for bike riders. Bike paths are marked by a ‘Bicycles Only’ sign on a signpost, which has a bike symbol and the word ‘only’ underneath it. They end where the path meets a road or footpath or where indicated by a sign.Shared paths are off-road, public areas that bike riders and pedestrians are allowed to use. They are marked by painted images of a pedestrian and a bike on a signpost or the path itself.
                            </p>
                            <h5>Overtaking on a shared path</h5>
                            <p>
                                On a shared path, you must keep to the left and give way to pedestrians. Pedestrians include people:
                                <br>• using wheelchairs and mobility scooters
                                <br>• on rollerblades, roller skates, skateboards, non-motorised scooters or something similar.
                                When overtaking pedestrians, ring your bell in advance, slow down and make sure you leave enough space when overtaking.
                            </p>
                            <div class="tip">
                                <div class="tip-icon">
                                    <i class="flaticon-innovation"></i>
                                </div>
                                <div class="tip-content">
                                    <h3> Riding at a safe speed</h3>
                                    <p>
                                        Ride at a safe speed, especially around pedestrians on shared paths and footpaths and slower bike riders.
                                    </p>
                                </div>
                            </div>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->
                </div>


                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <div class="message-box">
                            <h3>| Separated footpaths</h3>
                            <p>
                                A separated footpath is a path divided in two — with one side reserved for bike riders,
                                the other for pedestrians. It is usually marked by a sign on a signpost. This sign has, side
                                by side, a pedestrian symbol with the word ‘only’ underneath it and a bike symbol with
                                the word ‘only’ underneath it.
                            </p>
                            <p>
                                You must not ride on the side reserved for pedestrians.
                            </p>
                            <h3>| Footpaths</h3>
                            <p>
                                You can only ride on a footpath if you:
                                <br>• are under the age of 12
                                <br>• are an adult (18 years or older) supervising a child under 12
                                <br>• have a disability that means it’s difficult for you to ride on the road
                                <br>• are accompanying and supervising an adult (18 years or older) with a disability who is riding on the footpath.
                                If you have a disability and are riding on a footpath, you must be able to show police a medical certificate if you’re asked.
                            </p>
                            <p>
                                When riding on a footpath, you must keep to the left and give way to pedestrians.
                            </p>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->
                    <div class="col-md-3">
                        <div class="wow fadeIn">
                            <img src="~/Content/images/article_photo/photo_22.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div><!-- end row -->

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="tip">
                            <div class="tip-icon">
                                <i class="flaticon-innovation"></i>
                            </div>
                            <div class="tip-content">
                                <h3>When can cars enter bike lanes?</h3>
                                <p>
                                    Bike lanes are reserved for bike riders. But car drivers can enter and drive in a bike lane for up to 50 metres:
                                    <br>• to enter or leave a road
                                    <br>• to turn at an intersection
                                    <br>• to overtake to the left of a vehicle turning right or doing a U-turn from the centre of the road
                                    <br>• to park
                                    <br>• to get from one part of the road to another
                                    <br>• to enter traffic, having been parked on the side of the road
                                    <br>• to pick up or drop off passengers – but only if they are driving a taxi or public bus
                                    <br>• if there is a sign saying car drivers can also use the lane. Car drivers must always give
                                    way to any bike riders already in the lane.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 pt-5">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="sim-btn hvr-bounce-to-top" href="@Url.Action("Index", "Education")">
                                <i class="fa fa-long-arrow-left pr-2"></i>
                                <span>Back</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div><!-- end container -->
        </div><!-- end section -->

    </div><!-- end container -->
</div><!-- end section -->
