@{
    ViewBag.Title = "TrafficSigns";
    ViewBag.BodyStyle = "body-no-banner";
}

<div id="article" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Education</h3>
            <p>Something you need to know before start your riding.</p>
        </div><!-- end title -->

        <div id="content" class="section pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-md-12 text-center mb-4">
                                    <h1>Regulatory Signs</h1>
                                </div>

                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Prohibited Sign</h3>
                                        <img src="~/Content/images/article_photo/photo_ts01.png" alt="" class="img-fluid">
                                        <p class="mt-2">This sign indicates that bicycles are prohibited from passing beyond the sign.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_01_02.png" alt="" class="img-fluid">
                                        <p class="mt-2">This sign indicates that it only cater for commuter and pedestrians are not allow.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Lane</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_01_03.png" alt="" class="img-fluid">
                                        <p class="mt-2">You can choose whether or not to ride in a bicycle lane where one is provided. You must not ride in a bicycle lane on the wrong side of the road.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign <br>- Man and Bike Symbols</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_01_04.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that pedestrians and bicycle can share the same way.
                                            Bike and scooter riders give way to pedestrians.
                                        </p>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycles and Pedestrians Only - Bicycle on Left</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_01_05.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that one side is for bike riders, skateboards, roller blades, electric bicycles and scooters.
                                            The other side is for pedestrians.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign <br>- Ahead</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_01_06.png" alt="" class="img-fluid">
                                        <p class="mt-2">This sign indicates that the area ahead have construction on work.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign - End</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_01_07.png" alt="" class="img-fluid">
                                        <p class="mt-2">This sign indicates that the end of regulatory are.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Parking - Left</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_01_08.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that bike parking is to the left.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Parking - Right</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_01_09.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that bike parking is to the right.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center mb-4 mt-4">
                                    <h1>Warning Signs</h1>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign <br>- Hazard Symbol</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_01.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign is used to alert bicyclists to the danger ahead.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>
                                            Bicycle Path Sign <br>- Share the Road Symbol
                                        </h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_02.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign is used to notify bikers and motor vehicle owners alike to accommodate each other and use the road safely.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign <br>- Shared Path Warning Symbol</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_03.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that bikers and pedestrians know they have to share the path.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign <br>- Steep Climb</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_04.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that the layout of the road and will prepare drivers for the hill.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Signs <br>- Steep Descent Symbol</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_05.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign is used to alert a steep descent and a slippery cycling path.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Signs <br>- Bike Symbol</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_06.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign is used to alert motorists to locations where shared use of roadway by bicyclists might occur.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Signs <br>- Slippery Symbol</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_07.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that biking in the rain can be very dangerous. Alert bikers to the hazards of a wet road.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign <br>- Watch for Bicycles</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_08.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that bicycles can be a danger to riders and pedestrians in high traffic areas.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign <br>- Crossing Arrows</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_02_09.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates this road is bi-directional.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center mb-4 mt-4">
                                    <h1>Informatory Signs</h1>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Park / Playground Signs <br>- No Skateboarding Riding No Bicycle</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_03_01.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign indicates that no activities like skateboarding, bicycle riding, roller blading, and scooter riding inside the parking area
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Bicycle Path Sign <br>- Right Arrow</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_03_02.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign is used to direct bicycles on-road or off-road.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="sign-cards">
                                        <h3>Watched for bicycle Sign</h3>
                                        <img src="~/Content/images/article_photo/photo_ts_03_03.png" alt="" class="img-fluid">
                                        <p class="mt-2">
                                            This sign is used at road narrowing and other squeeze points.
                                        </p>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-12">
                <div class="text-center">
                    <a class="sim-btn hvr-bounce-to-top" href="@Url.Action("Index", "Education")">
                        <i class="fa fa-long-arrow-left pr-2"></i>
                        <span>Back</span>
                    </a>
                </div>
            </div>
        </div>

    </div><!-- end container -->
</div><!-- end section -->
