@{
    ViewBag.Title = "WearingHelmet";
    ViewBag.BodyStyle = "body-no-banner";

}

<div id="article" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Education</h3>
            <p>Something you need to know before start your riding.</p>
        </div><!-- end title -->

        <div id="content" class="section wb">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="message-box">
                            <h2>Wearing a bicycle helmet</h2>
                            <p> by VicRoads </p>
                            <hr>
                            <p>
                                Mandatory bicycle helmet laws were introduced in July 1990. This applies when riding:
                                <br>• on roads and road-related areas
                                <br>• on bike and shared paths
                                <br>• in bike lanes
                                <br>• in recreational parks
                                <br>• in car parks
                                <br>• on footpaths.
                                <br>Police can stop bike and scooter riders and issue a fine or a warning for not wearing an approved bicycle helmet.
                            </p>

                        </div><!-- end messagebox -->
                    </div><!-- end col -->

                    <div class="col-md-5">
                        <div class="right-box-pro wow fadeIn">
                            <img src="~/Content/images/article_photo/photo_13.png" alt="" class="img-fluid">
                        </div><!-- end media -->
                    </div><!-- end col -->
                </div><!-- end row -->


                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="message-box">
                            <h3>| Bicycle helmets and public health</h3>
                            <p>
                                In 2016, the Australian Health Protection Principal Committee (AHPPC) endorsed a position paper in support of mandatory bicycle helmet laws.
                                <br>
                                <br>The AHPPC is made up of the Chief Health Officers of each Australian state and territory. They support mandatory bicycle helmet laws as an appropriate preventative measure which benefits the whole community.
                            </p>
                            <h3>| Helmet: Correctly fitting a helmet</h3>
                            <p>
                                Place your hands on top of the helmet and try to move it. It should not be possible to tilt the helmet:
                                <br>
                                <br>Forwards to cover the eyes
                                <br>Backwards to uncover the forehead sideways to uncover the side of the head.
                                <br>When the helmet is fastened it should be squarely positioned on the head.
                                <br>
                                <br>The rim of the helmet should sit on the forehead just above the eyebrows.
                                <br>
                                <br>The straps should be adjusted so that there is no slack when the buckle is securely fastened under the chin. Ensure straps are not twisted and that the side straps form a V shape with the point just under the ear lobe.
                            </p>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row mb-4">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="message-box">
                            <h3>| Choosing a bicycle helmet</h3>
                            <p>
                                When choosing a bike helmet, make sure:
                                <br>It fits firmly and comfortably on your head and cannot be tilted in any direction the straps can be adjusted so there is no slack when fastened.
                                <br>It has a sticker showing it is safety approved and meets the Australian/New Zealand Standard AS/NZS 2063.
                                <br>It is marked with the symbol of a body accredited by the Joint Accreditation System of Australia and New Zealand (JAS-ANZ), certifying compliance with AS/NZS2063 (for helmets manufactured or imported from 1 July 2012).
                            </p>
                            <h3>| Looking after your helmet</h3>
                            <p>
                                If you see any damage - (cracks, pieces missing, compression of the foam, frayed straps) - then the helmet should be replaced. Manufacturers also advise that if your helmet has sustained an impact (eg. been in a crash), it should be replaced.
                                <br>Be careful in how you or your children handle their helmets - even dropping your helmet may cause unseen damage.
                            </p>
                        </div><!-- end messagebox -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row mt-5 pt-5">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="sim-btn hvr-bounce-to-top" href="@Url.Action("Index", "Education")">
                                <i class="fa fa-long-arrow-left pr-2"></i>
                                <span>Back</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div><!-- end container -->
        </div><!-- end section -->

    </div><!-- end container -->
</div><!-- end section -->
