
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyStyle = "body-no-banner";
}


<section id="home" class="main-banner parallaxie" style="background: url('/Content/images/bg.png')">
<div class="heading">
    <h1>Say no to injuries</h1>
    <h3 class="cd-headline clip is-full-width">
        <span>Click Home to browse </span>
        <span class="cd-words-wrapper">
            <b class="is-visible">fancy</b>
            <b>website</b>
        </span>
        <div class="btn-ber">
            <a class="get_btn hvr-bounce-to-top" href="@Url.Action("Index", "Home")">Go to Home</a>
            <!--<a class="learn_btn hvr-bounce-to-top" href="#">Cycling Map</a>-->
        </div>
    </h3>
</div>
    </section>



<script type="text/javascript">
    loopy()
    function loopy() {
        var sWord = ""
        while (sWord != "sportsaholics") {
            sWord = prompt("Please enter password")
        }
        alert("Welcome")
    }</script>

