@{
    ViewBag.Title = "BicycleEquipmentQuiz";
    ViewBag.BodyStyle = "body-no-banner";
}

<div id="trivia" class="section lb bicycle-equip">
    <div class="container">
        <div class="section-title text-center">
            <h3>Quiz</h3>
            <!--
        <p>Test your knowledge about cycling.</p>
        -->
        </div><!-- end title -->

        <section class='ftco-section bg-light question-sec' id='questionsection' style="display:block;">
            <!-- progress bar -->
            <div class="container">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" style="width:0%" id='pbar'>
                        0 / 5
                    </div>
                </div>
            </div>

            <div id="questions">
                <!-- question 0 equipment -->
                <div id="q0" class='ftco-section bg-light'>
                    <!-- question section -->
                    <div class="container">
                        <div class="question">
                            <h2 class="mb-4">
                                <span class="question-num"></span>. What's the difference between a mountain bike and a road bike?
                            </h2>
                        </div>
                        <div class='choices'>
                            <div class="row">
                                <div class="col-md-6 choice-box">
                                    <label class="choice" style='text-align: justify;'>
                                        <b>A:</b> A mountain bike has chunkier tyres
                                        <input type="radio" name="q0" value='t'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice" style='text-align: justify;'>
                                        <b>B:</b> Road bikes have lights
                                        <input type="radio" name="q0" value="f">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice" style='text-align: justify;'>
                                        <b>C:</b> Road bikes have comfier saddles
                                        <input type="radio" name="q0" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice" style='text-align: justify;'>
                                        <b>D:</b> A mountain bike is bigger
                                        <input type="radio" name="q0" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- answer -->
                    <div class="container">
                        <h3 class="mb-3" id='q0checkC' style='display:none;font-size:18px;'>You are correct!</h3>
                        <h3 class="mb-3" id='q0checkN' style='display:none;font-size:18px;'>
                            You were almost there, but the right answer is A.
                        </h3>
                        <div id="q0explain" style="display:none;" class="row">
                                <div class="col-md-12">
                                    <p style='text-align: justify;font-size:16px;'>
                                        Reason: <br>Road bikes have thinner, faster tyres and drop handlebars while mountain bikes have front suspension for riding rough,
                                        sketchy terrain, and a wide range of gears
                                    </p>
                                </div>
                                <div class="col-md-12 text-center">
                                    <img src="~/Content/images/trivia/q-bicycle-00.jpg" class="img-fluid" alt="post-img" />
                                </div>
                        </div>
                    </div>
                        <!-- visualization -->
                        <div class="container visualization text-right" style='margin:20px auto; display:none;'
                             id='q0visualization'>
                            <!-- no visualization in this question -->
                            <a href="#questionsection" onclick="next()" class='next w3-right btn btn-info' style="font-size: 20px;">
                                Next Question
                                &raquo;
                            </a>
                        </div>
                    </div>

                <!-- question 1 bicycle type -->
                <div id="q1" class='ftco-section bg-light' style='display:none;'>
                    <!-- question section -->
                    <div class="container">
                        <div class="question">
                            <h2 class="mb-4">
                                <span class="question-num"></span>. What type of bike have shock absorbers?
                            </h2>
                        </div>
                        <div class='choices'>
                            <div class="row">
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>A:</b> BMX
                                        <input type="radio" name="q1" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>B:</b> Mountain bike
                                        <input type="radio" name="q1" value="t">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>C:</b> Road Bike
                                        <input type="radio" name="q1" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>D:</b> Exercise bike
                                        <input type="radio" name="q1" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- answer -->
                    <div class="container">
                        <h3 class="mb-3" id='q1checkC' style='display:none;font-size:18px'>You are correct!</h3>
                        <h3 class="mb-3" id='q1checkN' style='display:none; text-align: justify;font-size:18px'>
                            Sorry, you are wrong.
                        </h3>
                        <div id="q1explain" style="display:none;" class="row">
                            <div class="col-md-7">
                                <p style='text-align: justify;font-size:16px'>
                                    Reason: <br>Most modern mountain bikes have front suspension for riding rough, sketchy terrain, and a wide range of gears which makes them great for off-road adventures.
                                </p>
                            </div>
                            <div class="col-md-5">
                                <img src="~/Content/images/trivia/q-bicycle-01.jpg" class="img-fluid" alt="post-img" />
                            </div>
                        </div>
                    </div>
                    <!-- visualization -->
                    <div class="container visualization text-right" style='margin:20px auto; display:none;'
                         id='q1visualization'>
                        <a href="#questionsection" onclick="next()" class='next w3-right btn btn-info' style="font-size: 20px;">
                            Next Question &raquo;
                        </a>
                    </div>
                </div>

                <!-- question 2 helmet condition -->
                <div id="q2" class='ftco-section bg-light' style='display:none;'>
                    <!-- question section -->
                    <div class="container">
                        <div class="question">
                            <h2 class="mb-4">
                                <span class="question-num"></span>. To ensure a helmet is in good condition you should:
                            </h2>
                        </div>
                        <div class='choices'>
                            <div class="row">
                                <div class="col-md-6 choice-box">
                                    <label class="choice" style='text-align: justify;'>
                                        <b>A:</b> Check to make sure it has not been dropped.
                                        <input type="radio" name="q2" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice" style='text-align: justify;'>
                                        <b>B:</b> Only purchase a new one. Never buy a second hand
                                        <input type="radio" name="q2" value="t">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice" style='text-align: justify;'>
                                        <b>C:</b> Only buy a helmet that someone else has tried out first.
                                        <input type="radio" name="q2" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>D:</b> All of the above.
                                        <input type="radio" name="q2" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- answer -->
                    <div class="container">
                        <h3 class="mb-3" id='q2checkC' style='display:none;font-size:18px;'>You are correct!</h3>
                        <h3 class="mb-3" id='q2checkN' style='display:none; text-align: justify;font-size:18px;'>
                            Sorry, you are wrong.
                        </h3>
                        <div id="q2explain" style="display:none;" class="row">
                            <div class="col-md-6">
                                <p style='text-align: justify;font-size:16px;'>
                                    Reason: <br>If you see any damage - (cracks, pieces missing, compression of the foam, frayed straps) - then the helmet should be replaced. Manufacturers also advise that if your helmet has sustained an impact (eg. been in a crash), it should be replaced
                                </p>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="embed-youtube">
                                    <iframe width="750" height="563" src="https://www.youtube.com/embed/jO4ahwa6hf0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- visualization -->
                        <div class="container visualization text-right" style='margin:20px auto; display:none;'
                             id='q2visualization'>
                            <!-- no visualize -->
                            <a href="#questionsection" onclick="next()" class='next w3-right btn btn-info' style="font-size: 20px;">
                                Next Question
                                &raquo;
                            </a>
                        </div>
                    </div>

                <!-- question 3 halmet reuse -->
                <div id="q3" class='ftco-section bg-light' style='display:none;'>
                    <!-- question section -->
                    <div class="container">
                        <div class="question">
                            <h2 class="mb-4" style='text-align: justify;'>
                                <span class="question-num"></span>. If you have a crash whilst wearing your helmet you should:
                            </h2>
                        </div>
                        <div class='choices'>
                            <div class="row">
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>A:</b> If it is scratched or chipped get it repainted.
                                        <input type="radio" name="q3" value='f'>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>B:</b> Replace it.
                                        <input type="radio" name="q3" value="t">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- answer -->
                    <div class="container">
                        <h3 class="mb-3" id='q3checkC' style='display:none;font-size:18px;'>Yes, you are correct!</h3>
                        <h3 class="mb-3" id='q3checkN' style='display:none;font-size:18px;'>Sorry, you are wrong.</h3>
                        <div id="q3explain" style="display:none;" class="row">
                            <div class="col-md-12">
                                <p style='text-align: justify;font-size:16px;'>
                                    Reason: <br>If you see any damage - (cracks, pieces missing, compression of the foam, frayed straps) -
                                    then the helmet should be replaced. Manufacturers also advise that if your helmet has sustained an impact (eg. been in a crash),
                                    it should be replaced.
                                </p>
                            </div>
                            <div class="col-md-12 text-center">
                                <img src="~/Content/images/trivia/q-bicycle-03.jpg" class="img-fluid" alt="post-img" />
                            </div>
                        </div>
                    </div>
                        <!-- visualization -->
                        <div class="container visualization text-right" style='margin:20px auto; display:none;'
                             id='q3visualization'>
                            <!-- no visualize -->
                            <a href="#questionsection" onclick="next()" class='next w3-right btn btn-info' style="font-size: 20px;">
                                Next Question
                                &raquo;
                            </a>
                        </div>
                    </div>

                <!-- question 4 helmet display-->
                <div id="q4" class='ftco-section bg-light' style='display:none;'>
                    <!-- question section -->
                    <div class="container question">
                        <div class="question">
                            <h2 class="mb-4" style='text-align: justify;'>
                                <span class="question-num"></span>. What should be displayed upon an approved helmet?
                            </h2>
                        </div>
                        <div class='choices'>
                            <div class="row">
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>A:</b> An Australian Standards AS1698 sticker.
                                        <input type="radio" name="q4" value='t'>
                                        <span class="checkmark"></span>
                                    </label>

                                </div>
                                <div class="col-md-6 choice-box">
                                    <label class="choice">
                                        <b>B:</b> Bright stickers to make the helmet more visible to vehicle drivers.
                                        <input type="radio" name="q4" value="f">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- answer -->
                    <div class="container">
                        <h3 class="mb-3" id='q4checkC' style='display:none;font-size:18px;'>You are correct!</h3>
                        <h3 class="mb-3" id='q4checkN' style='display:none;font-size:18px;'>Your answer is wrong!</h3>
                        <div id="q4explain" style="display:none;" class="row">
                            <div class="col-md-7">
                                <p style='text-align: justify;font-size:16px;'>
                                    Reason: <br>When choosing a bike helmet, make sure:
                                    it fits firmly and comfortably on your head and cannot be tilted in any direction
                                    the straps can be adjusted so there is no slack when fastened
                                    it has a sticker showing it is safety approved and meets the Australian/New Zealand Standard AS/NZS 2063
                                    it is marked with the symbol of a body accredited by the Joint Accreditation System of Australia and New Zealand (JAS-ANZ), certifying compliance with AS/NZS2063 (for helmets manufactured or imported from 1 July 2012).
                                </p>
                            </div>
                            <div class="col-md-5">
                                <img src="~/Content/images/trivia/q-bicycle-04.jpg" class="img-fluid" alt="post-img" />
                            </div>
                        </div>
                        </div>
                        <!-- visualization -->
                        <div class="container visualization text-right" style='margin:20px auto; display:none;'
                             id='q4visualization'>
                            <!-- no visualize -->
                            <a href="#questionsection" onclick="next()" class='next w3-right btn btn-info' style="font-size: 20px;">
                                Next Question
                                &raquo;
                            </a>
                        </div>

                    </div>


                <!-- visualization -->
                <div class="container visualization text-right" style='margin:20px auto; display:none;'
                     id='finalVisualization'>
                    <!-- no visualization -->
                    <div class="container px-md-5">
                        <div class="row justify-content-center pb-5">
                            <div class="col-md-12 heading-section text-center ftco-animate">
                                <!--
                                <h3 class="mb-4" style='color:black; margin-top:35px;'>
                                    You got <span id='result'></span> out of 5!
                                </h3>
                                -->
                                <h3 class="mb-4" style='color:black; margin-top:35px;'
                                    id='suggestion'>
                                    Congratulations! You are one step closer to become a responsible cyclist.<br>
                                    How about planning your journey now using our navigation map?
                                </h3>
                            </div>
                        </div>

                        <div class="row pt-5">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <a class="sim-btn hvr-bounce-to-top" href="@Url.Action("Index", "QuizIndex")">
                                        <i class="fa fa-long-arrow-left pr-2"></i>
                                        <span>Back</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--
                    <a href="/Education/Index" class='next w3-right btn btn-info' style="font-size: 16px;">Back to Learning Page</a>
                    -->
                </div>

            </div>

        </section>
    </div>
</div>
