
@{
    ViewBag.Title = "QuizIndex";
    ViewBag.BodyStyle = "body-no-banner";
}

<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Quiz</h3>
            <p>Test your knowledge about cycling.</p>
        </div><!-- end title -->

        <div class="gallery-list row">
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b">
                <a href="@Url.Action("RoadRuleQuiz", "QuizIndex")">
                    <div class="gallery-single fix">
                        <div class="post-box">
                            <div class="post-thumb">
                                <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/RoadRule2.png" class="img-fluid" alt="post-img" />
                            </div>
                            <div class="post-info">
                                <h4>Road Rules Quiz</h4>
                                <p>This section covers what they are so you can ride responsibly and safely.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c">
                <a href="@Url.Action("BicycleEquipmentQuiz", "QuizIndex")">
                    <div class="gallery-single fix">
                        <div class="post-box">
                            <div class="post-thumb">
                                <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/BikeEquip2.png" class="img-fluid" alt="post-img" />
                            </div>
                            <div class="post-info">
                                <h4>Bicycle Equipment Quiz</h4>
                                <p>Before you ride, the law requires you to have certain equipment to help keep you safe.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c gal_b">
                <a href="@Url.Action("TrafficSignQuiz", "QuizIndex")">
                    <div class="gallery-single fix">
                        <div class="post-box">
                            <div class="post-thumb">
                                <img src="https://ieimage.s3-ap-southeast-2.amazonaws.com/TrafficSign2.png" class="img-fluid" alt="post-img" />
                            </div>
                            <div class="post-info">
                                <h4>Traffic Sign Quiz</h4>
                                <p>Some traffic signs are only used for cyclist, and how much do you know about it?</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="row mt-5 pt-5">
            <div class="col-md-12">
                <div class="text-center">
                    <a class="sim-btn hvr-bounce-to-top" href="/Home">
                        <i class="fa fa-long-arrow-left pr-2"></i>
                        <span>Back To Home</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>