
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyStyle = "body-no-banner";
}

<html>
<head>
    <meta charset="utf-8">
    <title>Street View Controls</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map1 {
            height:100%;
           /*float: left;*/
           /*width:70%;*/
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin:0;
            padding: 0px;
        }
        #map2 {
            height: 100%;
        }
    </style>
</head>
<body>

    @*<div class="col-md-6">
            <div id="map"></div>
        </div>*@



    <div id="map1"></div>


    @*<script>
        function initPano1() {
            // Note: constructed panorama objects have visible: true
            // set by default.
            var panorama1 = new google.maps.StreetViewPanorama(
                document.getElementById('map1'), {
                position: { lat: -37.817404, lng: 144.945911 },
                pov: {
                    heading: 184,
                    pitch: 10
                },
                addressControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_CENTER
                },
                linksControl: true,
                panControl: true,
                enableCloseButton: true
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtB9R0bx4P_pCguEjgjwo5SL0rnnXCtyw&callback=initPano1">
        //AIzaSyCtB9R0bx4P_pCguEjgjwo5SL0rnnXCtyw
    </script>*@
    <br>
    <div class="row">
        <div class="col-md-8">
            <p> This sign is used at road narrowing and other squeeze points </p>
        </div>
        <div class=" col-md-4">
            <img src="https://www.globalspill.com.au/wp-content/uploads/2018/02/RS-R81A.jpg" />
        </div>
    </div>

    <div id="map2"></div>

    <script>

        function initPano2() {
            // Note: constructed panorama objects have visible: true
            // set by default.

             var panorama1 = new google.maps.StreetViewPanorama(
                document.getElementById('map1'), {
                position: { lat: -37.817404, lng: 144.945911 },
                pov: {
                    heading: 184,
                    pitch: 10
                },
                addressControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_CENTER
                },
                linksControl: true,
                panControl: true,
                enableCloseButton: true
            });
            var panorama2 = new google.maps.StreetViewPanorama(
                document.getElementById('map2'), {
                position: { lat: -37.8239796, lng: 144.9605012 },
                pov: {
                    heading: 334,
                    pitch: -7
                },
                addressControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_CENTER
                },
                linksControl: true,
                panControl: true,
                enableCloseButton: true
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtB9R0bx4P_pCguEjgjwo5SL0rnnXCtyw&callback=initPano2">
                //AIzaSyCtB9R0bx4P_pCguEjgjwo5SL0rnnXCtyw
    </script>
</body>
</html>
