	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/05/2020 13:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
    font-style: normal;
    margin-left: 0px;
}

.flaticon-score:before { content: "\f100"; }
.flaticon-travel:before { content: "\f101"; }
.flaticon-travel-1:before { content: "\f102"; }
.flaticon-navigator:before { content: "\f103"; }
.flaticon-open-book:before { content: "\f104"; }
.flaticon-book:before { content: "\f105"; }
.flaticon-innovation:before { content: "\f106"; }
.flaticon-knowledge:before { content: "\f107"; }
.flaticon-exam:before { content: "\f108"; }
.flaticon-injury:before { content: "\f109"; }
.flaticon-test:before { content: "\f10a"; }
.flaticon-exam-1:before { content: "\f10b"; }
.flaticon-books:before { content: "\f10c"; }
.flaticon-gps:before { content: "\f10d"; }
.flaticon-gps-1:before { content: "\f10e"; }
.flaticon-laptop:before { content: "\f10f"; }
.flaticon-computer:before { content: "\f110"; }
.flaticon-bandage:before { content: "\f111"; }
.flaticon-medical:before { content: "\f112"; }
.flaticon-map:before { content: "\f113"; }